.titulo1{
    background-color: #F90716;
    padding: 30px;
    color: black;
    text-align: center;
    padding: 30px;
    font-size: x-large;
}

.subtitulo1{
    background-color: blue;
    color: black;
    padding: 30px;
    font-size: x-large;
}

.parrafo{
    background-color: #FFCA03;
    color: black;
    padding: 30px;
    grid-column: 1/2;
    grid-column: 2/5;
    font-size: x-large;
}

.encabezado{
    background-color: #F90716;
    color: black;
    padding: 30px;
    font-size: x-large;
    text-align: center;
}

.contenedor{
    
    color: black;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    font-size: x-large;
    grid-column: 2/5;
}


.articulo1{
    background-color: blue;
    color: black;
    padding: 30px;
    grid-column: 2/5;
    font-size: x-large;
}

.parrafo1{
    background-color: #FFCA03;
    color: black;
    padding: 30px;
    grid-column: 2/5;
    font-size: x-large;
}

.articulo2{
    background-color: blue;
    color: black;
    padding: 30px;
    grid-column: 2/5;
    font-size: x-large;
}

.parrafo2{
    background-color: #FFCA03;
    color: black;
    padding: 30px;
    grid-column: 2/5;
    font-size: x-large;
}

.articulo3{
    background-color: blue;
    color: black;
    padding: 30px;
    grid-column: 2/5;
    font-size: x-large;
}

.parrafo3{
    background-color: #FFCA03;
    color: black;
    padding: 30px;
    grid-column: 2/5;
    font-size: x-large;
}

.articulo4{
    background-color: blue;
    color: black;
    padding: 30px;
    grid-column: 2/5;
    font-size: x-large;
}

.parrafo4{
    background-color: #FFCA03;
    color: black;
    padding: 30px;
    grid-column: 2/5;
    font-size: x-large;
}

.articulo5{
    background-color: blue;
    color: black;
    padding: 30px;
    grid-column: 2/5;
    font-size: x-large;
}

.parrafo5{
    background-color: #FFCA03;
    color: black;
    padding: 30px;
    grid-column: 2/5;
    font-size: x-large;
}

.articulo6{
    background-color: blue;
    color: black;
    padding: 30px;
    grid-column: 2/5;
    font-size: x-large;
}

.parrafo6{
    background-color: #FFCA03;
    color: black;
    padding: 30px;
    grid-column: 2/5;
    font-size: x-large;
}

body{
    background: #FFCA03;
}